/* Scoped CSS */
.input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em 0.25em;
  border: 1px solid var(--gray900);
  outline: none;
  color: var(--gray100);
  text-overflow: ellipsis;
}

.input:focus {
  border-color: gold;
  box-shadow: 0 0 0 2px gold;
}

.input::placeholder {
  color: var(--gray300);
}
