/* Scoped CSS */
.button {
  gap: 0.5rem;
  padding: 0 var(--dimensionL);
  border-radius: var(--borderRadiusS);
  transition: background-color 0.15s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button:focus {
  outline: none;
  box-shadow:
    0 0 0 1px var(--itnWhite),
    0 0 0 1px var(--itnWhite),
    0 0 0 1px var(--itnWhite),
    /* might need to be primary only */ 0 0 0 3px var(--primaryBlue),
    0 0 0 4.5px var(--itnWhite);
}

.button:disabled {
  color: var(--itnWhite);
  background-color: var(--gray300);
  cursor: not-allowed;
}

.button-small {
  height: 24px;
  /* font-weight: 400; */
}

.button-medium {
  height: 30px;
}

.button-large {
  height: 36px;
  font-size: medium;
}

.button-spinner {
  width: 14px;
  height: 14px;
  border: 2px solid #ffffff40;
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  animation: button-spin 1s linear infinite;
}

@keyframes button-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
